doctype html
html
  head
    meta(charset="UTF-8")
    title 微信支付
  body
    div(style={margin:'0 auto',width:'300px','line-height':'80px','border':'1px dashed #8bc34a'})
      h3(style={'text-align':'center','line-height':'40px','margin':'0px 0px'}) 恭喜你获得指定商家消费券
      p(style={'text-align':'center','color':'red','line-height':'40px','margin':'0px 0px'}) ￥3.66元
      div(style={'text-align':'center','line-height':'40px'}) 已存入卡包,下次消费自动抵扣
      div(style={'text-align':'center','line-height':'40px','font-size':'12px'}) 微众银行助力智慧生活
